{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Hero List</h1>
    <div class="card mt-4">
        <div class="card-header">
            Hero Lists
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Hero</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, hero in data.items %}
                    <tr>
                        <td>{{ id }}</td>
                        <td><a href="{% url 'hero_detail_web' hero_id=id %}">{{ hero }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
    </div>
</div>
{% endblock %}
