<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://github.com/copilot-id">Copilot ID</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'root_redirect' %}active{% endif %}" aria-current="page" href="{% url 'root_redirect' %}">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'hero_rank_web' %}active{% endif %}" href="{% url 'hero_rank_web' %}">Hero Rank</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'hero_position_web' %}active{% endif %}" href="{% url 'hero_position_web' %}">Hero Position</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'hero_detail_web' %}active{% endif %}" href="{% url 'hero_detail_web' hero_id=1 %}">Hero Detail</a>
                </li>
            </ul>
        </div>
    </div>
</nav>